@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300;
}

/* Add this to your CSS file or a <style> tag in your component file */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* Define the CSS classes */

/* Simple text style for Welcome */
.welcome-class {
  font-size: 2rem;
  color: white; /* or any color you prefer */
  transition: color 0.5s ease-in-out;
}

/* Neon text style for Projects */
.projects-class {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 5px #00e6e6, 0 0 10px #00e6e6, 0 0 20px #00e6e6,
    0 0 40px #00e6e6, 0 0 80px #00e6e6, 0 0 90px #00e6e6, 0 0 100px #00e6e6,
    0 0 150px #00e6e6;
  transition: text-shadow 0.5s ease-in-out;
}
